<div class="container mx-auto my-4 rounded border w-[90%] md:w-auto bg-white p-2">
<%- include('../partials/form', {
  title: 'Регистрация',
  action: "/register",
  inputs: [
    { type: 'text', name: 'firstName', label: 'Имя *' },
    { type: 'text', name: 'lastName', label: 'Фамилия *' },
    { type: 'text', name: 'email', label: 'E-mail *' },
    { type: 'password', name: 'password', label: 'Пароль *' },
    { type: 'password', name: 'passwordConfirmation', label: 'Подтверждение пароля *' }
  ]
}) %>
</div>
