<div class="my-12">
  <img class="block mx-auto w-48 h-48 rounded-[50%]" src="/public/img/denied.png" />
  <p class="text-center m-8 text-xl">У вас недостаточно прав, чтобы выполнить это действие. Попробуйте войти в свой аккаунт...</p>
</div>
