<div>
  <div class="h-16 bg-yellow-400 mb-20 mt-4"></div>
  <footer class="mx-14 py-5 border-t-[1px] border-grey-300 flex flex-wrap justify-around">
    <ul class="px-4 w-40 py-2">
      <li class="text-lg text-center font-semibold mb-2">Компания</li>
      <li class="text-center">О нас</li>
      <li class="text-center">Отзывы</li>
    </ul>
    <ul class="px-4 w-40 py-2">
      <li class="text-lg text-center font-semibold mb-2">Покупателям</li>
    </ul>
    <ul class="px-4 w-40 py-2">
      <li class="text-lg text-center font-semibold mb-2">Каталог</li>
    </ul>
    <ul class="px-4 w-40 py-2">
      <li class="text-center"><img class="w-24 h-24 inline-block object-contain" src="/public/img/logo.png" alt="" /></li>
      <li class="text-center text-sm text-gray-700">© 2022 Компания Верный друг</li>
    </ul>
  </footer>
</div>

