<header class="h-[var(--header-h)] bg-white border-b-[1px] border-grey-300 flex items-center px-8 relative">
  <div class="min-w-fit flex items-center m-2">
    <img class="w-28 h-28 inline-block object-contain" src="/public/img/logo.png" alt="">
    <span class="whitespace-nowrap text-2xl">Зоомагазин</span>
  </div>
  <nav id="header-nav" class="h-[99999999px] lg:h-auto ml-auto min-w-full z-10 border-b-[1px] lg:border-b-0 border-gray-300 bg-white lg:min-w-fit hidden lg:static lg:block absolute top-full left-0">
    <a class="block lg:inline-block text-center bg-blue-600 px-5 py-2 rounded text-white my-4 mx-1" href="/">Главная</a>
    <a class="block lg:inline-block text-center bg-green-600 lg:bg-white px-5 py-2 text-white lg:text-blue-600 rounded my-4 mx-1" href="/catalog">Каталог</a>
    <% if (locals.user) { %>
    <% } else { %>
      <a class="block lg:inline-block text-center bg-yellow-400 px-5 py-2 rounded my-4 mx-1 " href="/login">Войти</a>
      <a class="block lg:inline-block text-center bg-yellow-400 px-5 py-2 rounded my-4 mx-1 " href="/register">Зарегистрироватсья</a>
    <% } %>
  </nav>
  <div id="menu-button" class="cursor-pointer min-w-fit lg:hidden ml-auto inline-block bg-blue-600 px-5 py-2 rounded text-white m-1">Меню</div>
</header>

